.first{
background-color : blue;
color: white;
text-align:centre;
}

.second{
background-color : white;
color: blue;
text-align:centre;
}

.third{
background-color : blue;
color: white;
text-align:centre;
}
